In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
#Path
Path ="Deflection_of_Reinforced_Concrete_Beams/FinalFinal/"

In [3]:
#Reading data
rmse_tuned = pd.read_fwf(Path+'rmse_tuned.txt', names=["train", "test"])
rmse_default = pd.read_fwf(Path+'rmse_default.txt', names=["train", "test"])

In [4]:
rmse_tuned.describe()

           train       test
count  20.000000  20.000000
mean    5.747415  11.377605
std     1.884654   4.165997
min     3.893900   5.729500
25%     4.251175   8.287550
50%     4.968950  11.073400
75%     6.367425  14.818500
max    10.839800  20.350600

In [5]:
rmse_default.describe()

           train       test
count  20.000000  20.000000
mean    6.336730  13.782970
std     3.335363   5.645285
min     1.906200   5.533700
25%     4.467975  10.534750
50%     5.635400  12.404650
75%     7.617550  16.090950
max    15.266600  30.060500

In [6]:
n = len(rmse_default)
D = rmse_default['test']-rmse_tuned['test']
Dmean = D.mean()
sD = D.std()
# sDbar = sD/np.sqrt(n)

In [7]:
t=(Dmean-0)/(sD/np.sqrt(n))

In [8]:
t

4.004269508058843

In [19]:
pval = stats.t.sf(np.abs(t), n-1)*2 
pval/2

0.0003793781270187782

In [10]:
# P-value rmse(two-tailed test, need to devide by 2 to get right-tailed test)
stats.ttest_rel(rmse_default['test'],rmse_tuned['test'])

Ttest_relResult(statistic=4.004269508058843, pvalue=0.0007587562540375564)

In [11]:
# Counting number of times tuned_rmse > default_rmse 
sum(rmse_tuned['test'].values>rmse_default['test'].values)

2

In [12]:
mape_tuned = pd.read_fwf(Path+'mape_tuned.txt', names=["train", "test"])
mape_default = pd.read_fwf(Path+'mape_default.txt', names=["train", "test"])

In [13]:
mape_tuned.describe()

           train       test
count  20.000000  20.000000
mean   11.361840  21.018185
std     2.821671   7.651075
min     8.849800  13.705600
25%     9.460975  17.097100
50%    10.579500  18.967700
75%    11.718400  22.064800
max    19.532600  48.196100

In [14]:
mape_default.describe()

           train       test
count  20.000000  20.000000
mean    8.019700  19.766820
std     7.532530  10.497931
min     2.228100  11.172100
25%     3.598025  14.323300
50%     4.869850  18.384550
75%     8.570100  19.578000
max    29.170600  60.929700

In [15]:
# P-value mape(two-tailed test, need to devide by 2 to get right-tailed test)
stats.ttest_rel(mape_default['test'],mape_tuned['test'])

Ttest_relResult(statistic=-1.1135614006895949, pvalue=0.2793571405748392)

In [16]:
sum(mape_tuned['test'].values>mape_default['test'].values)

13

In [17]:
#Reading data
r2_tuned = pd.read_fwf(Path+'r2_tuned.txt', names=["train", "test"])
r2_default = pd.read_fwf(Path+'r2_default.txt', names=["train", "test"])

In [18]:
r2_tuned.describe()

           train       test
count  20.000000  20.000000
mean    0.965020   0.884100
std     0.023261   0.057025
min     0.902400   0.706500
25%     0.958325   0.866650
50%     0.975500   0.888100
75%     0.979825   0.908800
max     0.984800   0.975200

In [22]:
output=stats.ttest_rel(r2_default['test'],r2_tuned['test'])
output

Ttest_relResult(statistic=-3.540350652766362, pvalue=0.0021856363574831715)

In [23]:
0.0021856363574831715/2

0.0010928181787415857